<h1>Edit Creature</h1>

<%= form_for @creature do |f| %>
		Species: <%= f.text_field :species, class: "form-control" %><br/>
		Description: <%= f.text_area :description, class: "form-control" %><br/>
		Location Found: <%= f.text_field :location_found, class: "form-control" %><br/>
	<%= f.submit "Update Creature" %>
<% end %>